/* create a vertical left aligned banner */
#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: royalblue;
    border-right: 1px solid #ccc;
    z-index: 1;
}

/* make vertTable align to the middle vertically */
table {
    margin-left: auto;
    border: 2px solid black;
    padding: 10px;
    background-color: lime;
}